@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,300&display=swap');

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

:root {
    --bg-color: #1f2937;
    --secondary: #e5e7eb;
    --main-color: #3882f6;
    --white: #f9faf8;
}

.container {
    width: 1040px;
    margin: 32px;
}

.section,
.footer {
    display: flex;
    justify-content: center;
    position: relative;
}

.section.one,
.footer {
    background-color: var(--bg-color);
    color: var(--bg-color);
}

.section.one {
    background: rgb(209,178,213);
    background: linear-gradient(142deg, #d1b2d5 0%, #e18dce 28%, #6bbaf1 100%);    
}

.footer {
    padding: 32px;
}

.nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: -16px 0;
    padding: 20px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.6);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 32px;
}

a {
    text-decoration: none;
    color: var(--bg-color);
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.mark {
    display: inline-block;
    margin-right: 6px;
    position: relative;
    box-sizing: border-box;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 16px
}
.mark::after,
.mark::before {
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    background: currentColor;
    width: 12px;
    height: 12px;
    opacity: .6;
}
.mark::before {
    bottom: 0;
    right: 0
}

.arrow,
.arrow::after,
.arrow::before {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 8px;
    height: 20px
}
.arrow::after,
.arrow::before {
    content: "";
    position: absolute;
    height: 8px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg) scaleX(-1);
    bottom: 2px;
}

/*.glass-text {
        background: -webkit-linear-gradient(#ffffff, #f2f6ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: .6;
        -webkit-text-stroke: .5px #fff;
} */

.hero {
    display: flex;
    position: relative;
    margin: 160px 0 128px;
    gap: 32px;
    z-index: 2;
}

.hero-main {
    font-size: 48px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 16px;
    line-height: .9;
}

.hero-secondary {
    font-size: 18px;
    color: var(--bg-color);
    margin: 0;
    margin-bottom: 24px;
}

.hero-content {
    flex: 1;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6d747d;
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.6);
    /*transform: rotateZ(-10deg);*/
}

button {
    border-radius: 32px;
    background: -webkit-linear-gradient(#3882f6, #4a87e2);
    border: none;
    color: var(--white);
    font-weight: 700;
    font-size: 18px;
    padding: 16px 32px;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.hero-content .learn {
    background: none;
    box-shadow: unset;
    color: var(--bg-color);
}

.section.two {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(var(--bg-color), #121820);
}

.section-title {
    font-size: 2em;
    color: var(--white);
    margin-top: 64px;
}

.section-info {
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-bottom: 96px;
    flex-wrap: wrap;
}

.image {
    width: 160px;
    height: 160px;
    border-radius: 16px;
    border: 4px solid var(--main-color);
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 164px;
    gap: 8px;
    color: #595c61;
}

.section.three {
    background-color: var(--secondary);
}

.quote-content {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px;
    color: var(--bg-color);
}

.quote {
    font-style: italic;
    font-weight: 300;
    font-size: 2em;
    margin: 0;
}

.author {
    font-weight: 700;
    margin: 0;
    align-self: flex-end;
    font-size: 1.3em;
    margin-top: 8px;
}

.call-to-action {
    background-color: var(--main-color);
    color: var(--white);
    padding: 48px 128px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    margin: 32px 0;
}

.call-to-action * {
    margin: 0;
}

.call-to-action button {
    border: 2px solid var(--white);
}

.action-title {
    font-size: 1.3em;
}

.action-text {
    color: var(--secondary);
}

.circle {
    border-radius: 100%;
    position: fixed;
    background: linear-gradient(#c3cff7 20%, #8a87b8);
    box-shadow: 0 0 1em #0000000f,
                inset 0 0 1em #fff,
                inset 1em 0 2em #e18dce,
                inset -1em 0 2em #6bbaf1;
  }

  .circ1 {
    width: 8em;
    height: 8em;
    top: 3em;
    left: 3em;
    transform: translateZ(-2px);
  }

  .circ2 {
    width: 7em;
    height: 7em;
    top: 5em;
    right: 3em;
    font-size: 36px;
  }