@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

:root {
    --bg-color: #1f2937;
    --secondary: #e5e7eb;
    --main-color: #3882f6;
    --white: #f9faf8;
}

.container {
    width: 1040px;
    margin: 32px;
}

.section,
.footer {
    display: flex;
    justify-content: center;
}

.section.one,
.footer {
    background-color: var(--bg-color);
    color: var(--white);
}

.footer {
    padding: 32px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -16px 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 32px;
}

a {
    text-decoration: none;
    color: var(--white);
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.hero {
    display: flex;
    margin: 160px 0 128px;
    gap: 32px;
}

.hero-main {
    font-size: 48px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 8px;
    line-height: .9;
}

.hero-secondary {
    font-size: 18px;
    color: var(--secondary);
    margin: 0;
    margin-bottom: 16px;
}

.hero-content {
    flex: 1;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6d747d;
}

button {
    border-radius: 8px;
    background-color: var(--main-color);
    border: none;
    color: var(--white);
    font-weight: 700;
    font-size: 18px;
    padding: 8px 32px;
    cursor: pointer;
}

.section.two {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-title {
    font-size: 2em;
    color: var(--bg-color);
    margin-top: 64px;
}

.section-info {
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-bottom: 96px;
}

.image {
    width: 160px;
    height: 160px;
    border-radius: 16px;
    border: 4px solid var(--main-color);
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 164px;
    gap: 8px;
    color: #595c61;
}

.section.three {
    background-color: var(--secondary);
}

.quote-content {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px;
    color: var(--bg-color);
}

.quote {
    font-style: italic;
    font-weight: 300;
    font-size: 2em;
    margin: 0;
}

.author {
    font-weight: 700;
    margin: 0;
    align-self: flex-end;
    font-size: 1.3em;
    margin-top: 8px;
}

.call-to-action {
    background-color: var(--main-color);
    color: var(--white);
    padding: 48px 128px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    margin: 32px 0;
}

.call-to-action * {
    margin: 0;
}

.call-to-action button {
    border: 2px solid var(--white);
}

.action-title {
    font-size: 1.3em;
}

.action-text {
    color: var(--secondary);
}